.novedades__principal {
    grid-column: 1 / span 1;
    padding-right: 7%;
    padding-left: 7%;
}

.novedades__principal--imagen {
    width: 550px;
    border-radius: 6px;
margin-bottom: 2%;
}

.novedades__principal a {
    
  text-decoration: none !important;
  color: inherit;
}
.novedades__principal h2 {
    font-size: 150%; }
.novedades__principal a h2:hover {
    color: $main-color; 
}
.novedades__principal--logo {
    max-width: 45px;
    margin-right: 2%;
    border-radius: 30px;
    @include display-block;
}

.novedades__principal h3 {
    @include display-block;
    font-weight: 500;
    font-size: large;
}