.suscripcion {
    margin: 7%;
    padding: 40px;
    padding-right: 20%;
    padding-left: 20%;
    color: white;
    background-color: $main-color;
    border-radius: 6px;

}

.suscripcion p {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}
