.categorias{
    padding-right: 10%;
    padding-top: 10%;
}
.categorias h1{
    text-align: left;
    font-weight: 700;
    font-size: 1.8em;
    padding: 5%;
}
.categorias img{
max-width: 100px;
padding-right: 15%;
display: inline;
margin-right: 20px;
border-radius: 5px;
}
.categorias h2{
    color: white;
    text-align: right;
    display: inline;
    font-size: 1em;

}
