.login{
    max-width: 500px;
    margin: auto;
    margin-bottom: 5%;
   //font-family: poppins;
}
.login h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 5%;
    margin-top: 7%;
}
.login input {
    margin-bottom: 5%;
}

.login__opciones {
    @include display-block;
    
}

.login__opciones a {
    color: #007bff;
    text-decoration: none;
    @include display-block;
    text-align: right;
}

.login__opciones a:hover {
    text-decoration: underline;}

.login__opciones label{
    @include display-block;
    margin-left: 2%;
    margin-right: 33%
}
.caja{
    @include display-block;
}