.populares {
    margin-bottom: 0px;
    padding-right: 0;
    padding-left: 5%;
}

.populares h1 {
    text-align: left;
    font-weight: 700;
    font-size: 1.8em;
    padding: 5%;
}

.populares h2 {
    font-size: 1.3em;
}