body{
    font-family: Poppins;
}
nav{
    background-color: white;
    border-bottom: 2px solid  #ccc
    ;
   padding-left: 5%;
   padding-bottom: 2%;
}
.main__logo{
    display: flex;
    align-items: center;
    padding-top: 2%;
}
.main__logo img{
    max-width: 55px;
    margin-right:2%;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.main__logo p{
    color: black;
    font-weight: 700;
    margin: 0;
    font-size: 1.5em;
}
.novedades{
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    padding-right: 5%;
    border-bottom: 2px solid  #ccc;
    padding: 2%;
    
}
.novedades h1{
text-align: left;
font-weight: 700;
font-size: 1.8em;
padding: 5%;
}
.novedades__principal{
grid-column: 1 / span 1;
padding-right: 7%;
   
}
.novedades__principal--imagen{
max-width: 550px;
border-radius: 6px;

}
.novedades__principal h2{
    font-size: 140%;
    padding: 0;
}
.novedades__principal--logo{
    max-width: 45px;
    margin-right:2%;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
}
.novedades__principal h3{
  vertical-align: middle;
   display: inline-block;
   font-weight: 500;
}
.novedades__seccion{
    display: grid;
    grid-column: 2 / span 1; 
    margin-bottom: 0px; 
    
}
.novedades__seccion--bloqueimagen{
    flex: 0 0 50%;
    align-content: flex-start;
    margin-left: 10%;
    padding: 0;
    padding-bottom: 10px;

}
.novedades__seccion--imagen{
    max-width: 80%;
    border-radius: 6px; 
}
.novedades__seccion--contenido{
    grid-column: 3 / span 3;
    margin-bottom: 0%;   
    padding-bottom: 10px;
    vertical-align: top;
}
  .novedades__seccion h2{
    font-size: 1.3em;
    padding: 0;
    margin: 0;
  }
 .novedades__seccion p{
font-size: 1em;
padding: 0;
margin: 0;
}
.novedades__seccion--logo{
    max-width: 35px;
    margin-right:2%;
    border-radius: 30px;
    display: inline-block;
    padding-top: 2px;
    vertical-align: middle;
}
.novedades__seccion h3{
    font-weight: 500;
    display: inline-block;
    font-size: 80%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.populares{
    margin-bottom: 0px; 
    padding-right: 0;
    padding-left: 5%;
}
.populares h1{
    text-align: left;
font-weight: 700;
font-size: 1.8em;
padding: 5%;
}
.populares h2{
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}
.populares__seccion{
    padding-top: 10px;

}
.populares__seccion h1{
    margin: 0;
}
.populares__seccion--imagen{
    max-width: 60%;
    border-radius: 5px;
}
.populares__seccion--logo{
    max-width: 35px;
    margin-right:2%;
    border-radius: 30px;
    display: inline-block;
    padding-top: 2px;
    vertical-align: middle;
}
.populares__seccion h2{
    font-size: 1.5em;
}
.populares__seccion h3{
    font-weight: 500;
    display: inline-block;
    font-size: 80%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.categorias{
    padding-right: 10%;
    padding-top: 10%;
}
.categorias h1{
    text-align: left;
    font-weight: 700;
    font-size: 1.8em;
    padding: 5%;
}
.categorias img{
max-width: 100px;
padding-right: 15%;
display: inline;
margin-right: 20px;
border-radius: 5px;
}
.categorias h2{
    color: white;
    text-align: right;
    display: inline;
    font-size: 1em;

}
.categorias__seccion--html, 
.categorias__seccion--js,
.categorias__seccion--css,
.categorias__seccion--react,
.categorias__seccion--vue,
.categorias__seccion--bootstrap{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;
    margin-top: 20px;
    border-radius: 5px;

}
.categorias__seccion--html{
    background-color:  #E93E30
    ;
}
.categorias__seccion--js{
    background-color: #F7E018;
}
.categorias__seccion--css{
    background-color:  #299ED5;
}
.categorias__seccion--react{
    background-color: #292C33;
}
.categorias__seccion--vue{
    background-color: #67C770;
}
.categorias__seccion--bootstrap{
    background-color: #563D7C;
}
footer{
border-top: 2px solid  #ccc;
padding: 2%;
}
footer p{
    text-align: right;
    vertical-align: middle;
}